.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 50px;
}

.source-code {
  color: #fff;
  text-decoration: none;
}

.source-code:hover {
  color: #d4af37;
  text-decoration: underline;
}
